<!DOCTYPE html>
<html>
  <head>
    <title>AlgorithmRacer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  </head>

  <body>
    <section class="group">

      <nav class="group">
        <h1>algorithmRacer_</h1>
        <div>
          <% if current_user %>
          <%= link_to current_user.username, user_url(current_user) %>
          <%= button_to "Log Out", sessions_url(current_user), method: :delete %>
          <% else %>
          <%= link_to "Log In", new_sessions_url, class: 'button-link' %>
          <%= link_to "Sign Up", new_user_url, class: 'button-link' %>
          <% end %>
        </div>
      </nav>

      <!-- <h2>Sorting Leaderboard</h2>
      <div class="group leader-nav">
        <h4>Go to:</h4>
        <ul class="leaderboard-dropdown">
          <div class="leaderboard-dropdown-items">
            <li>Sorting</li>
            <li>Searching</li>
            <li>Other</li>
            <li>All</li>
          </div>
        </ul>
      </div>



      <ol class="leaderboard-list">
        <a href="#"><li>
          Sample Entry
          <h6>9001</h6>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Speed: 42ms<br>
            Golf Score: Par<br>
          </div>
        </li></a>

        <a href="#"><li>
          Sample Entry
          <h6>9023</h6>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Speed: 42ms<br>
            Golf Score: Par<br>
          </div>
        </li></a>

        <a href="#"><li>
          Sample Entry
          <h6>9451</h6>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Speed: 42ms<br>
            Golf Score: Par<br>
          </div>
        </li></a>

        <a href="#"><li>
          Sample Entry
          <h6>9872</h6>
          <div class="leaderboard-item-hover">
            Author: Boaty McBoatface<br>
            Speed: 42ms<br>
            Golf Score: Par<br>
          </div>
        </li></a>
      </ol> -->
      <%= yield %>
      <br>
      <label for="">Title: <input type="text" name="" value=""></label>
      <label for="" class="select-arrow">Category: <select class="" name="">
        <option value="Sorting">Sorting</option>
        <option value="Array Searching">Array Searching</option>
        <option value="Tree Searching">Tree Searching</option>
        <option value="Permutations">Permutations</option>
      </select></label>
      <br>
      <div id="app"></div>
      <br>
      <input type="submit" name="" value="Submit Algorithm">
    </section>


  </body>
</html>
